:root{
  --button_hover : #673fc4;
  --text: #02010b;
  --background: #f9f8fe;
  --primary: #5412ed;
  --secondary: #f5788a;
  --accent: #f2ac4c;
}
@font-face {
  font-family: "OpenSans";
  src: url("./assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}
body{
  background-color: var(--background);
  color: var(--text);
  font-family: "OpenSans";
}
.padded{
  padding-left: 1em;
  padding-right: 1em;
}
.clickable{
  cursor: pointer;
}
.row{
  display: flex;
}
.spread{
  display: flex;
  justify-content: space-between;
}
.contentDiv{
  padding-left: 3em;
  padding-right: 3em;
}
.centeredDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.monad{
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.title{
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.bigTitle{
  display: flex;
  justify-content: center;
  font-size: 40px;
}
.clickableLabel{
  cursor: pointer;
  color: var(--primary) ;
}
/*Navbar*/
.NavBarMainDiv{
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin-bottom: 1em;
  background-color: var(--primary);
}
.NavBar-SearchDiv{
  display: flex;
}
.NavBarButton{
  border: none;
  width: 3em;
  height: 3em;
  background-color: var(--primary);
  flex-grow: 1;
  cursor: pointer;
}
.NavBarButton:hover{
  background-color: var(--button_hover);
}
.NavBar-SearchDiv{
  display: flex;
  flex-grow: 2;
}
.NavBar-SearchDiv input{
  border-radius: 20px;
  margin-left: 2px;
  margin-right: 2px;
  border: 1px solid black;
  flex-grow: 2;
}
.NavBar-SearchDiv button{
  border: none;
  flex-grow: 0;
}
/*Index*/
.IndexWelcomeLabel{
  padding : 2em;
}
/*Featured reveiw*/
.FeaturedReview-MainDiv{
  display: flex;
  padding-top: 2em;
}

.FeaturedReview-MainDiv img{
  max-width: 150px;
  max-height: 150px;
}
.FeaturedReview-RightDiv{
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

/*ArtistPage*/
.ArtistPage{
  display: flex;
  flex-direction: column;
}
.ArtistPage-TopDiv{
  display: flex;
  flex-direction: row;
}
.ArtistPage-TopDiv img{
  margin: 1em;
  max-height: 400px;
  max-width: 400px;
}
.ArtistPage-RightTopDiv{
  margin-left: 5px;
}
.ArtistPage-DivForGenres{
  display: flex;
  flex-direction: row;
}
.ArtistPage-BottomDiv {
  margin-top: 5px ;
  padding: 0px 2em;
}
.ArtistPage-BottomDiv img{
  max-width: 50px;
  max-height: 50px;
}
.AlbumCard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 26px;
  margin-top: 5px;
  background-color: var(--accent);
  border-radius: 10px;
}
.AlbumCard img{
  max-width: 4em;
  max-height: 4em;
  margin: 1em 1em;
}
/*Album page*/
.AlbumPage{
  display: flex;
  flex-direction: column;
}
.AlbumPage-CenterDiv
{
  display: flex;
  flex-direction: row;
}
.AlbumPage-LeftDiv img{
  max-width: 450px;
  max-height: 450px;
}
.AlbumPage-LeftDiv table{
  margin-top: 1em;
  width: 100%;
}
.AlbumPage-RightDiv{
  margin-left: 1em;
}
.AlbumPage-RightDiv h5{
  margin-bottom: 0px;
}
.AlbumPage-DivForGenres{
  margin-bottom: 1em;
}
.AlbumPage-DiscussionDiv
{
  height: 300px;
  width: 100%;
  margin-top: 1em;
  display:flex;
  flex-direction: column;
}
.AlbumPage-DiscussionDivFeild
{
  overflow-y: scroll;
  background-color: #e5e1ee ;
  border: 1px solid black;
}
.AlbumPage-MessageDiv
{
  display: flex;
  flex-direction: column;
  
}
.AlbumPage-InputDiv{
  background-color: #e5e1ee;
  border-radius: 5px;
  width: 40vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid var(--primary);
}
.AlbumPage-InputDiv-ButtonsDiv{
  display: flex;
  justify-content: space-between;
  padding: 0 25%;
}
.divForReview{
  background-color: #e5e1ee;
  padding: 2em;
  border: 2px solid var(--primary);
  border-radius: 10px;
}
/*Genre page*/
.GenrePage-GenreDiv{
  display: flex;
  flex-direction: row;
}
.GenrePage-GenreDiv img{
  max-width: 20em;
  max-height: 20em;
  margin-bottom: 2em;
  margin-right: 1em;
}

.GenrePage-InfoDiv{
  display: flex;
  flex-direction: column;
}
.Genre{
  display: flex;
  flex-direction: column;
}
.Genre-Info{
  display: flex;
  flex-direction: row;
}
.Genre-Info img{
  max-width: 25em;
  max-height: 25em;
  margin-top: 1em;
}
.Genre-InfoOfGenre{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 1em;
  margin-top: 1em;
}
.Genre-Description{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
}
.Genre-BestRatedDiv{
  margin-left: 2em;
  margin-right: 2em;
  margin-top:1em;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.Genre-BestAlbums{
  display: flex;
  flex-direction: row;
  align-items:center;
  flex-wrap: wrap;
}
.Genre-BestAlbums img{
  max-width: 15em;
  max-height: 15em;
  margin: 2em 2em;
}
/*Profile page*/
.ProfilePage{
  display: flex;
  flex-direction: column;
}
.ProfilePage-FavoriteAlbums{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.favAlbums{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ProfilePage-FavAlbumDiv img{
  max-width: 10em;
  max-height: 10em;
  margin: 2em;
}
.ProfilePage-RecentRatings{
  display: flex;
  flex-direction: column;
}
.ProfilePage-RatingDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  margin: 1em 0em;
  background-color: var(--accent);
  border-radius: 10px;
}
.ProfilePage-RatingDiv img{
  height: 5em;
  width: 5em;
}
.Rating{
  margin-left: 2px;
}
.createReviewBtn{
  margin-top: 2px;
}
.ProfilePage-UsersLists{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}
.ProfilePage-ListCardDiv{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
  border: 2px solid var(--primary);
  background-color: #e5e1ee;
  border-radius: 10px;
  padding: 1em;
}
.ProfilePage-ListCardDiv img{
  width: 4em;
  height: 4em;
  margin-right: 10px;
}
.ProfilePageCreateList > button{
  margin-bottom: 1em;
}
.NewList{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.NewListRow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1em;
}
/*Search*/
.Search-Entry{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1em 1em;
  margin-top: 1em;
}
.Search-Entry img{
  max-height: 8em;
  max-width: 8em;
}
.Search-Entry-Info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2em;
}
/*List page*/
.ListPage-TopDiv
{
  display: flex;
  flex-direction: row;
}
.ListPage-LeftTopDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ListPage-LeftTopDiv img{
  width: 10em;
  height: 10em;
}
.ListPage-RightTopDiv{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.ListPage-ListItemDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  padding: 1em;
  margin-top: 1em;
  border-radius: 10px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.ListEntry{
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}
/*Buttons*/
.smallBtn{
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}
.bigBtn{
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
}
.bigestBtn{
  padding: 10px 500px;
  border: none;
  border-radius: 5px;
}
.purpleBtn{
  background-color: #5412ed;
  color: var(--background);
}
.purpleBtn:hover{
  background-color: #3e0cb3;
  color: var(--background);
  cursor: pointer;
}
.LoginIndex{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.LoginDiv{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.LoginDiv-Form{
  display: flex;
  flex-direction: column;
}
.bigInput{
  padding: 1em 20em;
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 1em;
}
.bigInput:focus{
  border: 2px solid var(--primary);
}
.AllRatings-Rating{
  background-color: var(--accent);
  padding: 1em;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em;
}
.AllRatings-Rating img{
  width: 5em;
  height: 5em;
}
